.form__section {
  padding: 20px;
}

.form__element {
  margin-top: 15px;
}

.Add_button {
  color:white;
  background-color: #673ab7;
  border: solid white;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* .form-control__textarea {
  height: max-content;
} */
