
<mat-toolbar color="white">
  <span class='name__header'>PetRefuge</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" color='primary' aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
            <button mat-icon-button class="example-icon" color='primary' aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
</mat-toolbar>
<mat-toolbar color="primary">
  <span class="example-spacer secondaty__nav">
    <button mat-button class='secondary__button' color='white'>Find more pets</button>
  </span>
</mat-toolbar>
